@font-face {
    font-family: "Outfit";
    src: url('/assets/fonts/Outfit/static/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('/assets/fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}



body{
    width: 90%;
    margin: 0px auto;
}

nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set{
    display: flex;

}

.logo{
    font-family: "Outfit";
    font-size: 22px;
    gap: 15px;
}

.services{
    font-family: "Inter";
    font-size: 15px;
    gap: 25px;
}

.list{
   font-family: "Inter";
   font-size: 14px;
   font-weight: 600;
   gap: 15px;
}

.list button{
    border-radius: 10px;
    border: none;
    background-color: #10B981;
    color: #ffffff;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 0px 15px;
}


/* HERO SECTION */

header{
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    gap: 50px;
}

header img{
    width: 550px;
    object-fit: contain;
}

.hero-set{
    max-width: 750px;
}

.dot-text{
    display: inline-flex;
    align-items: center;
    background-color: #ECFDF5;
    gap: 3px;
    font-family: "Inter";
    padding: 0px 5px;
    border-radius: 25px;
}

.dot-text p{
    color: #059669;
    font-weight: 600;
    font-size: 12px;
    text-transform:uppercase;
}

.circle-dot{
    background-color: #10B981;
    width: 5px;
    height: 5px;
    border-radius: 50px;
}

.hero-set h2{
    font-family: "Outfit";
    font-size: 50px;
    color: #111827;
    margin-top: -0.5px;
}

.hero-set span{
    color: #10B981;
}

.hero-set > p{
    font-family: "Inter";
    color: #4B5563;
    font-weight: 400px;
    font-size: 16px;
    margin-top: -20px;
    line-height: 30px;
}

.the_btn{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.the_btn img{
    width: 15px;
    height: 20px;
}

#btn_img{
    border-radius: 10px;
    border: none;
    background-color: #10B981;
    color: #ffffff;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 15px;
}

.the_btn button{
    width: 200px;
    border-radius: 10px;
    border: none;
    color: #111827;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 550;
}

.verified{
    background-color: #ffffff;
    position: relative;
    width: 90px;
    font-family: "Inter";
    font-size: 16px;
    margin-left: -20px;
    margin-top: -90px;
    border-radius: 10px;
}



#hundred{
    font-family: "Outfit";
    color: #10B981;
    font-weight: 700;
    font-size: 28px;

}

.verified p{
    font-size: 12px;
    color: #4B5563;
    margin-top: -20px;
}


/* BRANDS */

.brand-section{
    margin-top: 70px;
     display: flex;
     justify-content: space-between;
    font-family: "Inter";
    font-weight: 600;
    align-items: center;
    font-size: 14px;
    color: #4B5563;
}

.brands {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.brand-line{
    color: #4B5563;
}

.items{
    margin-top: 100px;
}

.item-heading{
    margin-bottom: 50px;
}

.item-heading p{
    font-family: "Inter";
    font-size: 16px;
    color: #4B5563;
}

#vertical{
    color:  #10B981;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: -40px;
}

.item-heading h4{
    font-size: 36px;
    font-family: "Outfit";
    margin-bottom: -10px;
}


.item-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.item-section{
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-size: 11px;
    font-weight: 600;
    padding: 0px 20px;
}

.item-section p{
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    color: #059669;
    background-color: #ECFDF5;
}

#grey{
    background-color: #F9FAFB;
    color: #4B5563;
}

.product-list{
    border: 1px solid #4B5563;
    border-radius: 10px;
}


.product-list img{
    border-radius: 10px 10px 0px 0px;
}
.product-list>p{
    padding-left: 25px;
    font-weight: 600;
    font-size: 18px;
    font-family: "Outfit";
}

.product-list hr{
    color: #4B5563;
    width: 90%;
    margin: 0px auto;
}

.item-price{
    display: flex;
    gap: 5px;
    font-family: "Inter";
    font-size: 12px;
    align-items: center;
    padding-left: 20px;
}

.item-price p{
    font-weight: 300;
    color: #4B5563;
    margin-top: 8px;
}

#price{
    color: #059669;
    font-size: 24px;
    font-family: "Outfit";
    font-weight: 600;
}

.item{
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-size: 11px;
    padding: 0px 20px;
}

#order{
    font-weight: 600;
}