@font-face {
    font-family: "Outfit";
    src: url('/assets/fonts/Outfit/static/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('/assets/fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}



body{
    
    overflow-x: hidden;
    height: 100vh;
}

nav{
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.just_nav{
    display: none;
}

#menu{
    display: none;
}

.set{
    display: flex;
}

.just_nav{
    font-family: "Outfit";
    font-size: 22px;
    gap: 15px;
    display: flex;
}

.services{
    font-family: "Inter";
    font-size: 15px;
    gap: 25px;
}

.list{
   font-family: "Inter";
   font-size: 14px;
   font-weight: 600;
   gap: 15px;
}

.list button{
    border-radius: 10px;
    border: none;
    background-color: #10B981;
    color: #ffffff;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 0px 15px;
}


/* HERO SECTION */

.the_header{
    background-color: #F9FAFB;
    /* width: 100%; */
}

.header_sec{
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 100px;
}

.the_image{
    width: 50%;
    
}

.the_image img{
    width: 100%;
}

.hero-set{
    width: 45%;
}

.dot-text{
    display: inline-flex;
    align-items: center;
    background-color: #ECFDF5;
    gap: 3px;
    font-family: "Inter";
    padding: 0px 5px;
    border-radius: 25px;
}

.dot-text p{
    color: #059669;
    font-weight: 600;
    font-size: 12px;
    text-transform:uppercase;
}

.circle-dot{
    background-color: #10B981;
    width: 5px;
    height: 5px;
    border-radius: 50px;
}

.hero-set h2{
    font-family: "Outfit";
    font-size: 50px;
    color: #111827;
    margin-top: -0.5px;
}

.hero-set span{
    color: #10B981;
}

.hero-set > p{
    font-family: "Inter";
    color: #4B5563;
    font-weight: 400px;
    font-size: 16px;
    margin-top: -20px;
    line-height: 30px;
}

.the_btn{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.the_btn img{
    width: 15px;
    height: 20px;
}

#btn_img{
    border-radius: 10px;
    border: none;
    background-color: #10B981;
    color: #ffffff;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 15px;
}

.the_btn button{
    width: 200px;
    border-radius: 10px;
    border: none;
    color: #111827;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 550;
}

.verified{
    background-color: #ffffff;
    position: relative;
    width: 90px;
    font-family: "Inter";
    font-size: 16px;
    margin-left: -20px;
    margin-top: -90px;
    border-radius: 10px;
}



#hundred{
    font-family: "Outfit";
    color: #10B981;
    font-weight: 700;
    font-size: 28px;

}

.verified p{
    font-size: 12px;
    color: #4B5563;
    margin-top: -20px;
}


/* BRANDS */

.brand-section{
    background-color: #ffffff;
}

.the_brand_section{
    max-width: 1280px;
    margin: 20px auto 0px auto ;
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-weight: 600;
    align-items: center;
    font-size: 20px;
    color: #4B5563;
    /* animation: spin 15s infinite linear; */
}

@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;}
}

.brands{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.brands img{
    width: 50px;
}

#brand-line{
    max-width: 1280px;
    margin: 0px auto;
    color: #4B5563;
}


/* ITEMS */

.items{
    /* background-color: #F9FAFB; */
     margin-top: 50px;
}

.other_items{
    background-color: #F9FAFB;
    /* margin-top: 50px; */
    padding: 30px 0px 30px 0px;
}

.the_items{
    max-width: 1280px;
    margin: 0px auto;
    
    /* padding-top: 30px; */
    /* padding-bottom: 50px; */
}

.item-heading{
    /* margin-bottom: 50px; */
}

.item-heading p{
    font-family: "Inter";
    font-size: 16px;
    color: #4B5563;
}

#vertical{
    color:  #10B981;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: -40px;
}

.item-heading h4{
    font-size: 36px;
    font-family: "Outfit";
    margin-bottom: -10px;
}


.item-list{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: stretch;
    gap: 60px; */

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));
    gap: 30px;
    align-items: stretch;
    width: 100%; */

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: clamp(20px, 4vw, 60px); */

    
    display: flex;
    gap:50px;
    align-items: center;
}

.item-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Inter";
    font-size: 11px;
    font-weight: 600;
    padding: 0px 20px;
}

.item-section p{
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    color: #059669;
    background-color: #ECFDF5;
}

#grey{
    background-color: #F9FAFB;
    color: #4B5563;
}

.products{
    /* flex: 1 1 240px;
    max-width: 320px;
    min-width: 0; */

}

.product-list{
    box-shadow: 2px 2px 2px 5px #F9FAFB;
    border: 1px solid #9CA3AF;
    border-radius: 10px;
}


.product-list img{
    border-radius: 10px 10px 0px 0px;
    display: block;
    width: 100%;
    height: auto;
}
.product-list>p{
    padding-left: 25px;
    font-weight: 600;
    font-size: 15px;
    font-family: "Outfit";
}

.product-list hr{
    color: #4B5563;
    width: 90%;
    margin: 0px auto;
}

.item-price{
    display: flex;
    gap: 5px;
    font-family: "Inter";
    font-size: 12px;
    align-items: center;
    padding-left: 20px;
}

.item-price p{
    font-weight: 300;
    color: #4B5563;
    margin-top: 8px;
}

#price{
    color: #059669;
    font-size: 24px;
    font-family: "Outfit";
    font-weight: 600;
}

.item-area{
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-size: 11px;
    padding: 0px 20px;
    align-items: center;
}

#normal{
    color: #4B5563;
    background-color: #ffffff;
}

.schedule{
    background-color: #0B0F19;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

#order{
    font-weight: 600;
}

.the_price{
    font-family: "Outfit";
    font-weight: 600;
    font-size: 18px;
}

.green{
    color: #059669;
    font-size: 22px;
    font-weight: 600;
    font-family: "Outfit";
}

/* BUSINESS */
.business{
    background-color: #111827;
    
}

.the_business{
    max-width: 1280px;
    margin: 0px auto;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    padding: 50px;
    /* margin-top: 50px; */
}



.the_business h4{
    font-family: "Outfit";
    font-weight: 600;
    font-size: 40px;
}

.the_business p{
    font-size: 16px;
    color: #9CA3AF;
    max-width: 600px;
    margin: 0px auto;
    margin-top: -25px;
    margin-bottom: 30px;

}

.business_btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#advisor{
    background-color: #111827;
    border-radius: 10px;
    width: 150px;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* LAST SECTION */

.last_sec{
     background-color: #0B0F19;
}

.the_last_sec{
     max-width: 1280px;
     margin: 0px auto;
     color: #9CA3AF;
}

.sprint_last_sec{
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    justify-content: space-between;
    font-family: "Inter";
    
    
}


.sprint_last_sec p{
    color: #9CA3AF;
    font-size: 14px;
}

.sprint{
    display: flex;
    gap: 10px;
    font-family: "Outfit";
    font-size: 20px;
    
}

.last_sec_logo{
    width: 500px;
}

.ocs{
    display: flex;
    gap: 50px;
    
}

.ocs h4{
    font-family: "Outfit";
    font-size: 18px;
    text-transform: uppercase;
}

#horizontal{
    max-width: 1280px;
    margin: 0px auto;
}

.the_footer{
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#privacy{
    display: flex;
    gap:20px;
}

/* RESPONSIVE DESIGN */
/* MOBILE */
@media (width <= 480px) {

    body{
        overflow-x: hidden;
    }

    nav{
        width: 90%;
        margin: 0px auto;
    }

    .logo{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        gap: 150px;
    }

    .just_nav{
        display: flex;
        gap: 10px;
    }

    #menu{
        display: flex;
        width: 30px;
        height: 30px;
    }

    .set{
        display: none;
    }

    .header_sec{
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 40px;
        /* justify-content: center; */
    }

    .hero-set h2{
    font-family: "Outfit";
    font-size: 32px;
    color: #111827;
    margin-top: 10px;
}

.the_image{
    width: 90%;
    margin: 10px auto;

}

.hero-set{
    width: 90%;
    margin: 0px auto;
}

.hero-set > p{
    font-size: 13px;
}

.the_btn{
    flex-direction: column;

}

.the_btn button{
    width: 100%;
    margin: 0px auto;
}

#the_consult{
    border: 1px solid ;
}



.verified{
    display: none;
}

.the_image img{
    width: 100%;
    margin: 0px auto;
}

    .item-list{
        flex-direction: column;
    }

    .sprint_last_sec{
        flex-direction: column;
    }

    .ocs{
        flex-direction: column;
    }


    .the_brand_section > p{
        display: none;
    }

    .the_brand_section{
        font-size: 8px;
        width: 90%;
        margin: 10px auto;
    }

    .brands{
        /* width: 90%; */

        margin: 0px auto;
        gap: 45px;
    }

    #brand-line{
        width: 90%;
        margin: 0px auto;
    }

    .item-heading{
        width: 90%;
        margin: 0px auto;
    }

    .item-heading p{
        font-family: "Inter";
        font-size: 14px;
        color: #4B5563;
    }

#vertical{
    color:  #10B981;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: -20px;
}

.item-heading h4{
    font-size: 25px;
    /* font-family: "Outfit";
    margin-bottom: -10px; */
}

.products{
    width: 90%;
    margin: 0px auto;
}

.the_business{
    max-width: 90%;
    margin: 0px auto;
}

.the_business h4{
    font-size: 25px;
}

.the_business p{
    font-size: 14px;
}

.business_btn{
    flex-direction: column;
}

.business_btn button{
    width: 100%;
    margin: 0px auto;
    padding: 20px;
}

#advisor{
width: 100%;
}

#btn_img{
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.the_last_sec{
   
}

.sprint_last_sec{
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}

.last_sec_logo{
    width: 90%;
    margin: 0px auto;
}

.ocs{
    width: 90%;
    margin: 0px auto;
    gap: 0px;
    padding-bottom: 20px;
}

#horizontal{
    width: 80%;
    margin: 0px auto;
}

.the_footer{
    width: 80%;
    margin: 0px auto;
    font-size: 10px;
}

}


@media (480px < width <= 1024px) {
    body{
        overflow-x: hidden;
        height: 100vh;
    }

    nav{
        max-width: 90%;
        margin: 0px auto;
    }

    .header_sec{
        flex-direction: column;
    }

    .hero-set{
        width: 90%;
        margin: 0px auto;
        padding-bottom: 50px;
    }

    .verified{
        display: none;
    }

    .the_image{
        width: 90%;
        margin: 0px auto;
    }

    .the_image img{
        width: 100%;
    }

    .the_brand_section{
        width: 90%;
        margin: 0px auto;
        font-size: 12px;
    }

    .brands{
        /* width: 90%; */
        margin: 0px auto;
        gap: 30px;
    }

    #brand-line{
        width: 90%;
        margin: 0px auto;
    }

    .item-heading{
        width: 90%;
        margin: 0px auto;
    }

    .item-list{
        width: 90%;
        margin: 0px auto;
        display: grid;
    }

    .sprint_last_sec{
        width: 90%;
        margin: 0px auto;
        padding-bottom: 50px;
        gap: 50px;
    }

    #horizontal{
        width: 90%;
        margin: 0px auto;
    }

    .the_footer{
        width: 90%;
        margin: 0px auto;
    }
}